<!doctype html>
<html>
<head>
  <title>Timekeeper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('show_projects') }}">Timekeeper</a>
    </div><!-- navbar-header -->
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!--<li class="active"><a href="#">Example</a></li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--<li class="active"><a href="#">Example</a></li>-->
      </ul>
    </div><!-- navbar-collapse -->
  </div>
  
  {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
  
  <div class="page-header">
    {% block title %}{% endblock %}
  </div>
  
  {% block body %}{% endblock %}

</div><!-- container -->

<!--<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>-->
</body>
</html>
