{% extends "layout.html" %}

{% block title %}
  <h2>Edit Project</h2>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-sm-12">
      <form action="{{ url_for('edit_project', project_id=project['id']) }}" method="POST" class="form-horizontal">
        <div class="form-group">
          <label for="name" class="control-label col-sm-2">Name:</label>
          <div class="col-sm-4">
            <input type="text" id="name" name="name" class="form-control" value="{{ project['name'] }}">
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="control-label col-sm-2">Description:</label>
          <div class="col-sm-4">
            <input type="text" id="description" name="description" class="form-control" value="{{ project['description'] }}">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
